* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}
main {
  max-width: 650px;
  min-height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
}
main img {
  max-width: 100%;
}
main .details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* inner content */
main .details .product {
  text-transform: uppercase;
  letter-spacing: 5px;
}
main .details .product-title {
  font-family: 'Fraunces', serif;
  color: hsl(212, 21%, 14%);
}
main .details .description {
  line-height: 1.5;
}
main .details .price-details {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
}
main .details .price {
  font-family: 'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  font-size: 30px;
  padding-right: 30px;
}
main .details .old-price {
  margin-top: 10px;
  text-decoration: line-through;
}
main .details .chart {
  border: none;
  padding: 15px 80px;
  border-radius: 10px;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}
main .details .product,
main .details .old-price,
main .details .description {
  color: hsl(228, 12%, 48%);
}